.App {
  color: #2C001B;
  margin: 0 15% 0 15%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-title {
  font-size: large;
  font-weight: bold;
}

/************************** R E C I P E . J S *****************************/

.recipe-main-container {
  margin: 0 auto 50px auto;
  border: 1px solid #E5E5E5;
  width: 60vmin;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.recipe-poster-container {
  position: relative;
  width: 60vmin;
  height: 35vmin;
  overflow: hidden;
}

.recipe-poster {
  height: 60vmin;
  width: 60vmin;
  border-radius: 5px;
}

.recipe-detail {
  margin-left: 10px;
}

.recipe-details-container {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  padding: 16px 0;
}

.recipe-detail-container {
  display: flex;
  min-height: 27px;
  align-items: center;
  font-size: 18px;
}

.recipe-title {
  font-weight: bold;
}

